<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h3 class="title">CCMS Objectives</h3>
    <p class="body">Increase faculty performance by obtaining a minimum rating of 4.00 in the semestral faculty evaluation of each faculty for the next fiveyears.</p>
    <p class="body">Maintain competent faculty line-up by sending all permanent fulltime faculty to at least one (1) IT related training, conference, orseminar annually
         for the next five years.</p>
    <p class="body">Conduct a minimum of two (2) researches, IT projects or production of instructional materials annually for the next
         five years.Achieve a minimum of 50% student passing percentage in the IT certification annually for the next five years.</p>
    <p class="body">Maintain state-of-the-art information technology learning environment through annual procurement or upgrading 
        of hardwareor software licenses for at least one computer laboratory for the next five years.</p>
    <p class="body">Set up minimum of two (2) academe-industry partnership projects and commercialization initiatives or research
         publication andpresentation annually in preparation for the next CHED COD/COE application.</p>
    <p class="body">Strengthen promotion program to increase freshman enrollees to a minimum of three (3) class sections annually for the next five years.</p>
</body>
</html>